.mediaViewInfo {
	--web-view-name: BASIC;
	--web-view-id: BASIC;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans KR;
}
:root {
	--web-view-ids: BASIC;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#BASIC {
	position: absolute;
	width: 1918px;
	height: 1080px;
	font-family: Noto Sans KR;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: BASIC;
	--web-view-id: BASIC;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-page-font: Noto Sans KR;
}
#Basic_Background2_h {
	fill: url(#Basic_Background2_h);
}
.Basic_Background2_h {
	position: absolute;
	overflow: visible;
	width: 1918px;
	height: 1080px;
	left: 0px;
	top: 0px;
}